*
{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body
{
	background-color: white;
}

.website_body
{
	/*background-color: #D6EAD6;*/
	width: 95%;
	margin: 0 auto;
}

.website_head_body
{
	background-color: #99CC99;
	border-radius: 10px;
	margin-top: 10px;
}

.website_head 
{
	/*background-color: ;*/
	padding-top: 50px;

	padding-bottom: 60px;
	font-size: 2em;
	margin: 0 auto;
	min-width: 0;
	width: auto;
	display: table;
	/*background-color: red;*/
}

.extra_space
{
	height: 10px;
	background-color: white;

}


.website_body_whole
{

	min-width: 0;
	padding: 20px;
	border-radius: 1%;
	background-color: #D6EAD6;
}

.website_body_whole_info
{

	width: auto;
	min-width: 0;
	display: table;
	margin: 0 auto;


}



.right_side_info
{
	/*text-align: center;*/
	/*font-size: 2em;*/
	width: 500px;
	/*height: 500px;*/
	margin-right: 10px;
	display: inline-block;
	border-radius: 10px;

}

.right_website_info
{
	font-size: 2em;
	text-align: center;
	padding-bottom: 50px; 
	padding-top: 50px;
	background-color: #FBFCF0;
	border-radius: 10px;


}


.info_question
{
	padding-bottom: 20px;
	padding-top: 20px;
	width: 450px;
	margin-top: 20px;
	font-size: 1.5em;
	background-color: #FBFCF0;
	padding-left: 50px;
	border-radius: 10px;

}

.or_info
{
	/*background-color: #FBFCF0;*/
	border-radius: 10%;
	text-align: center;
	width: auto;
	min-width: 0;
	display: table;
	padding: 10px;
	margin: 0 auto;
	margin-top: 20px;

}

.info_question input[type=text]
{

  	box-sizing: border-box;
  	border: 1px solid black;
  	border-radius: 5px;
  	font-size: 1em;
  	background-color: white;
  	margin-top: 10px;


  	padding: 5px 10px 5px 5px;

}

.info_question textarea
{
	margin-top: 20px;
	font-size: 1em;
	border-radius: 10px;
	padding: 10px;
	max-height: 195px;
	max-width: 370px;
}



.extra_space_vert
{
	width: 10px;
	height: 2130px;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	vertical-align: top;
}

.left_side_questionnaire
{

	display: inline-block;
	vertical-align: top;
	margin-left: 10px;


}






.my_name
{
	/*background-color: red;*/
	font-size: 1em;
}




.website_info_picture
{
	width: auto;
	min-width: 0;
	background-color: #FBFCF0;
	margin: 0 auto;
	display: table;
	padding-left: 20px;
	padding-right: 20px; 
	border-radius: 10px;
}

.website_info
{
	display: inline-block;
	/*background-color: red;*/
	font-size: 2em;
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 50px; 
	padding-top: 50px; 

}

.website_picture
{
	display: inline-block;
	/*background-color: blue;*/
	width: 400px;
	padding: 20px;
	padding-right: 0px;

}





.website_questionnaire
{
	/*padding-left: 20px;*/
}

.long_question
{
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 1.5em;
	background-color: #FBFCF0;
	min-width: 0;
	width: 950px;
	display: table;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 40px;
	/*padding-right: 20px;*/
	/*padding-right: 350px;*/
	border-radius: 10px;

}

.long_question textarea
{
	font-size: 1em;
	border-radius: 10px;
	padding: 10px;
	max-height: 195px;
	max-width: 880px;

}






.extra_space_top
{
	height: 10px;
	background-color: white;
	/*margin-top: 20px;*/


}


.footer
{
	background-color: #99CC99;
	border-radius: 10px;
	/*margin-top: 10px;*/
}

.website_footer
{

	padding-top: 10px;

	padding-bottom: 60px;
	font-size: 1em;
	margin-left: 20px;

}


.extra_space_bottom
{
	height: 10px;
	background-color: white;
	/*margin-top: 20px;*/

}

/*#FBFCF0*/

/*#AE6666*/


label
{
	vertical-align: middle;
}



#sumbit
{

	background-color: #FFFF7F;
	border: none;
	padding: 10px 60px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 20px;

}


#sumbit:hover
{

	background-color: #99CC99;

}


.link_web
{
	width: auto;
	min-width: 0;
	display: table;
	margin: auto;
}









